{% load static %}
<html>
	<head>
		<title>My Django Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				{% if request.path == "/" %}
					<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
				{% if request.get_full_path == "/cv_list/" %}
					<a href="{% url 'cv_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
				{% if request.get_full_path == "/cv_list/" %}
					<h5><a href="{% url 'post_list' %}" class="top-menu"><span class=<button type="button" class="btn btn-default">Posts Page</button> </span></a>
				{% endif %}
				{% if request.path == "/" %}
					<h5><a href="{% url 'cv_list' %}" class="top-menu"><span class=<button type="button" class="btn btn-default">CV Page</button> </span></a>
				{% endif %}
			{% endif %}
			{% if user.is_authenticated %}
				<h5><a href="{% url 'logout' %}" class="top-menu"><span class=<button type="button" class="btn btn-default">Log out</button> </span></a>
			{% endif %}
			{% if not user.is_authenticated %}
				<h5><a href="{% url 'login' %}" class="top-menu"><span class=<button type="button" class="btn btn-default">Log in</button> </span></a>
			{% endif %}
			{% if not user.is_authenticated %}
				<h5><a href="{% url 'signup' %}" class="top-menu"><span class=<button type="button" class="btn btn-default">Sign up</button> </span></a>
			{% endif %}
			<h1><a href="/">Vlad's Django Blog</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>

</html>
